
services:
  db:
    image: postgres:17.5-alpine3.22
    container_name: db
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 30s
      timeout: 10s
      retries: 3
  
  redis:
    image: redis:8.0-alpine
    container_name: redis
    restart: unless-stopped  # tự reset nếu gặp lỗi, trừ khi bị dừng thủ công
    ports:
      - "6379:6379"
    environment:
      REDIS_DB: ${REDIS_DB}
      REDIS_USER: ${REDIS_USER}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
      - ./systems/redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf  # run redis 
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  api:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    container_name: go-api
    restart: unless-stopped  # tự reset nếu gặp lỗi, trừ khi bị dừng thủ công
    # Publish host port (default to 8080) to container port 8080.
    # Use ${SERVER_PORT:-8080} so compose still works if SERVER_PORT is missing.
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - .env
    volumes:
      - ./:/app
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
volumes:
  pg_data:
  redis-data:

networks:
  app-network:
    driver: bridge

